.description {
	text-align: justify;
    color: #373a3c;
}

.set-name{
	font-size: 120%;
	color: #8a6e4b;
	font-weight: bold;
}

.specs-gold {
	color: #8a6e4b;
	font-size: 80%;
	
}

.text-90{
	font-size: 90%;
	
}

.front-strat,
.front-bass,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front-strat {
    z-index: 2;
    width: 100%;
    height: auto;
    min-height: 350px;
    background: #8a6e4b url("/assets/images/strat-logo.png") no-repeat center;
}

.front-bass {
    z-index: 2;
    width: 100%;
    height: auto;
    min-height: 350px;
    background: url("/assets/images/bass-logo.png") no-repeat center;
}



.gold{
    color: #8a6e4b;
}

.silver {
    color: #7c7b7b;
}

/*---------  service-flip------------------*/

.flipper-premium i {
    width: 58px;
    height: 58px;
    border-radius: 50%;

    color: white;
    margin-top: 40px;
    font-size: 25px;
    border-color: #fff;
    line-height: 58px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -29px;
    margin-top: -29px;
    display: block;
}



.flip-container-premium {
    -webkit-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container-premium:hover .flipper-premium,
.flip-container-premium.hover .flipper-premium {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotate(-180deg);
    -sand-transform: rotate(-180deg);
    transform: rotateY(180deg);
}



.flip-container-premium,
.front-premium
{
    height: auto;
    min-height: 350px;
    /*background: url("/assets/images/strat-logo.png") no-repeat center;*/

}

.flip-container-premium,
.front-bass-premium
{
    height: auto;
    min-height: 350px;
    /*background: url("/assets/images/bass-logo.png") no-repeat center;*/

}


.flip-container-premium a,
.front-premium a,
.front-bass-premium a{
    color: #8a6e4b;
}

.flip-container-premium,
.back-premium {
    height: auto;
    min-height: 350px;
}

.flipper-premium {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.faq-desc-item-premium {
    margin: 15px 10px;
}


.front-premium,
.front-bass-premium,
.back-premium {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front-premium,
.front-bass-premium {
    z-index: 2;
    width: 100%;
}

.front-premium h5,
.front-bass-premium h5,
.back-premium p {
    margin-top: 20px;
}

.front-bass-premium h5,
.front-premium h5 {
    line-height: 31px;
    font-size: 130%;
    font-weight: 800;
    position: absolute;
    bottom: 20%;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    width: 100%;
    color: #8a6e4b;
}

.front-premium img {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    width: 100%;
    padding: 10px;

}

.back-premium {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotate(-180deg);
    -sand-transform: rotate(-180deg);
    transform: rotateY(180deg);
    background-color: #e4dbd1;
    z-index: 99999999;
}

.back-premium h5 {
    margin-top: 40px;
}

.back-premium p {
    text-align: center;
    padding: 0 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.82em;
}

.gold-border {

    background-color: #f4efea;
}
