.description {
	text-align: justify;
    color: #373a3c;
    font-size: 90%;
}

.set-name{
	font-size: 120%;
	color: #8a6e4b;
	font-weight: bold;
}

.specs-gold {
	color: #8a6e4b;
	font-size: 80%;
}

.text-90{
	font-size: 90%;
	
}

.main-heading {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 600px;
    bottom: 70%;
}

.front-strat,
.front-bass,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front-strat {
    z-index: 2;
    width: 100%;
    height: auto;
    min-height: 350px;
    background: #8a6e4b url("/assets/images/strat-logo.png") no-repeat center;
}

.front-bass {
    z-index: 2;
    width: 100%;
    height: auto;
    min-height: 350px;
    background: url("/assets/images/bass-logo.png") no-repeat center;
}



.gold{
    color: #8a6e4b;
}

.silver {
    color: #7c7b7b;
}

/*---------  service-flip------------------*/

.flipper-premium i {
    width: 58px;
    height: 58px;
    border-radius: 50%;

    color: white;
    /*margin-top: 40px;*/
    font-size: 25px;
    border-color: #fff;
    line-height: 58px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -29px;
    margin-top: -29px;
    display: block;
}

.flip-container-premium {
    -webkit-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container-premium:hover .flipper-premium,
.flip-container-premium.hover .flipper-premium {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotate(-180deg);
    -sand-transform: rotate(-180deg);
    transform: rotateY(180deg);
}
.flip-container-premium,
.front-premium
{
    height: auto;
    min-height: 350px;
    /*background: url("/assets/images/strat-logo.png") no-repeat center;*/
}

.flip-container-premium,
.front-bass-premium
{
    height: auto;
    min-height: 350px;
    /*background: url("/assets/images/bass-logo.png") no-repeat center;*/
}


.flip-container-premium a,
.front-premium a,
.front-bass-premium a{
    color: #8a6e4b;
}

.flip-container-premium,
.back-premium {
    height: auto;
    min-height: 350px;
}

.flipper-premium {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.faq-desc-item-premium {
    margin: 15px 10px;
}


.front-premium,
.front-bass-premium,
.back-premium {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front-premium,
.front-bass-premium {
    z-index: 2;
    width: 100%;
}

.front-premium h5,
.front-bass-premium h5,
.back-premium p {
    margin-top: 20px;
}

.front-bass-premium h5,
.front-premium h5 {
    line-height: 31px;
    font-size: 130%;
    font-weight: 800;
    position: absolute;
    bottom: 10%;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    width: 100%;
    color: #8a6e4b;
}

.front-premium img {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50%;
    width: 100%;
    padding: 10px;

}

.back-premium {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotate(-180deg);
    -sand-transform: rotate(-180deg);
    transform: rotateY(180deg);
    background-color: #e4dbd1;
    z-index: 99999999;
    padding-right: 15px;
}

.back-premium h5 {
    margin-top: 20px;
}

.back-premium p {
    text-align: center;
    padding: 0 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.82em;
}

.gold-border {

    background-color: #f4efea;
}

.back-premium img {
	padding-right: 10px;
	padding-left: 20px;
	max-width: 350px;
	max-height: 250px;
}

.back-premium p {
	line-height: 98%;
	font-size: 96%;
}

.logo-sbcustom {

    width: 700px;
    height: 281px;
    background: url("/assets/images/SB-Custom-LOGO-HZ-700px.png") no-repeat;
}

@media (max-width: 767px){

/*.back-premium img {
	padding-right: 10px;
	padding-left: 10px;
	max-width: 340px;
}*/
	
.intro-content {
    top: 5%;
}

.menu > div h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin: 0;
    /*opacity: 0.8;*/
    letter-spacing: 1px;
}
.heading i {
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    font-size: 8px;
    height: 58px;
    line-height: 58px;
    margin: auto auto 10px;
    text-align: center;
    /*box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);*/
    width: 58px;
    -webkir-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    .faq-desc-item {
        display: none;
    }

    h2.hide-on-ipad{
        display: none;
    }

}

@media screen and (min-device-width: 481px) and (orientation:landscape) {
    .intro-content img{
        height: 90%;
        width: 90%;
        margin: auto;
    }

    .slogan-text {
        text-align: center;
    }

    .faq-desc-item {
        display: none;
    }

    h2.hide-on-ipad{
        display: none;
    }

    .description {
        font-size: 90%;
        clear:both;
    }

}

@media (max-width: 991px) and (min-width: 768px){

    .intro-content img{
        max-height: 75%;
        max-width: 93%;

        margin: auto;
    }

    .faq-desc-item {
        display: none;
    }

    h2.hide-on-ipad{
        display: none;
    }

    .main-heading {

        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 400px;

    }

    .main-heading h1 {
        color: #fff;
        font-size: 30px;
        position: relative;
        text-transform: capitalize;
        text-align: left;
    }

    .slogan-text {
        text-align: center;
    }

    .back-premium img {
        padding-right: 10px;
        padding-left: 20px;
        max-width: 200px;
        max-height: 250px;
    }
}


@media (max-width: 1200px) and (min-width: 1024px){

    .back-premium img {
        padding-right: 10px;
        padding-left: 20px;
        max-width: 250px;
        max-height: 250px;
    }

}

@media (max-width: 1300px) and (min-width: 1100px){

    .back-premium img {
        padding-right: 10px;
        padding-left: 20px;
        max-width: 270px;
        max-height: 250px;
    }

}

@media (max-width: 1500px) and (min-width: 1301px){

    .back-premium img {
        padding-right: 10px;
        padding-left: 20px;
        max-width: 280px;
        max-height: 250px;
    }

}



@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .faq-desc-item {
        display: none;
    }

}

@media screen and (min-device-width: 481px) and (orientation:portrait) {

.price-category-gold{
    width: 400px;
    margin-left:8.333333%
}

    .back-premium img {
        padding-right: 10px;
        padding-left: 20px;
        max-width: 270px;
        max-height: 250px;
    }
}

.project figure img {
    display: block;
    width: 100%;
    height: auto;
}

.project figure {
    
    position: relative;
}

.project figcaption {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: -10px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-top: 5px;
}



h2.small-heading-silver {
    padding: 60px 0 10px 0;
    font-size: 2.25em;
    margin-bottom: 60px;
    position: relative;
    display: block;
    text-align: center;
}

h2.small-heading-silver:after {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 35px;
    content: "\f107";
    left: 48%;
    bottom: -28px;
    color: #7c7b7b;
    background-color: #ffffff;
    padding: 0px 8px;
}

h2.small-heading-silver:before {
    position: absolute;
    bottom: -10px;
    content: "";
    height: 2px;
    background-color: #7c7b7b;
    display: block;
    width: 23%;
    left: 38%;
}

.popup-content h3{
	text-transform: capitalize;
	font-size: 1.3em;
}

.popup-content p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	color: black;
	text-align: justify;
}

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px;
}

.top-p-10 {
    padding-top: 10px;
}

.top-p-20 {
    padding-top: 20px;
}