/*
  Icon Font: sbcustom-icons
*/

@font-face {
  font-family: "sbcustom-icons";
  src: url("./sbcustom-icons.eot");
  src: url("./sbcustom-icons.eot?#iefix") format("embedded-opentype"),
       url("./sbcustom-icons.woff") format("woff"),
       url("./sbcustom-icons.ttf") format("truetype"),
       url("./sbcustom-icons.svg#sbcustom-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sbcustom-icons";
    src: url("./sbcustom-icons.svg#sbcustom-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-sb-335-icon:before,
.icon-sb-es175-icon:before,
.icon-sb-explorer-icon:before,
.icon-sb-flying-v-icon:before,
.icon-sb-ibanez-icon:before,
.icon-sb-jazz-bass-icon:before,
.icon-sb-jazzmaster-icon:before,
.icon-sb-les-paul-icon:before,
.icon-sb-precision-bass-icon:before,
.icon-sb-rickenbacker-bass-icon:before,
.icon-sb-rickenbacker-icon:before,
.icon-sb-sg-icon:before,
.icon-sb-stratocaster-icon:before,
.icon-sb-telecaster-icon:before {
  display: inline-block;
  font-family: "sbcustom-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-sb-335-icon:before { content: "\f102"; }
.icon-sb-es175-icon:before { content: "\f103"; }
.icon-sb-explorer-icon:before { content: "\f104"; }
.icon-sb-flying-v-icon:before { content: "\f105"; }
.icon-sb-ibanez-icon:before { content: "\f106"; }
.icon-sb-jazz-bass-icon:before { content: "\f107"; }
.icon-sb-jazzmaster-icon:before { content: "\f108"; }
.icon-sb-les-paul-icon:before { content: "\f109"; }
.icon-sb-precision-bass-icon:before { content: "\f10a"; }
.icon-sb-rickenbacker-bass-icon:before { content: "\f10b"; }
.icon-sb-rickenbacker-icon:before { content: "\f10c"; }
.icon-sb-sg-icon:before { content: "\f10d"; }
.icon-sb-stratocaster-icon:before { content: "\f10e"; }
.icon-sb-telecaster-icon:before { content: "\f10f"; }
